<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= pageTitle %></title>

	<meta property="fb:app_id" content="<%= facebookAppId %>" />
	<meta property="og:title" content="<%= appName %>" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="<%= ogImage %>" />
	<meta property="og:url" content="<%= url %>" />
	<meta property="og:description" content="<%= ogDescription %>" />

	<meta name="description" content="<%= metaDescription %>" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="<%= themeColour %>">
	<meta name="apple-mobile-web-app-title" content="<%= appName %>">
	<meta name="application-name" content="<%= appName %>">
	<meta name="theme-color" content="<%= themeColour %>">

	<link rel="stylesheet" href="/app.css?_v=<%= cachebust %>" type="text/css" />
    <style>
        .header {
            height: <%= headerHeight %>;
        }
    </style>
</head>
<body>
	<div id="app"></div>

	<footer class="footer">
        <div><%= disclaimer %></div>
		<div>by <a href="http://gricey.net" target="_blank" rel="noopener">Mitchell Grice</a> | <a href="https://github.com/gricey432/unifinal" target="_blank" rel="noopener">Report issues or contribute on <img src="/img/gh-wide.png" class="gh" alt="GitHub" /></a></div>
	</footer>

	<script src="/app.js?_v=<%= cachebust %>"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>
